Source: ros-jazzy-leo-example-follow-aruco-marker
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-python, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-generate-parameter-library, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-leo-example-follow-aruco-marker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-aruco-opencv, ros-jazzy-aruco-opencv-msgs, ros-jazzy-generate-parameter-library, ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-rclpy, ros-jazzy-tf-transformations, ros-jazzy-ros-workspace
Description: Follow Aruco Marker Example for Leo Rover.
